* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.split {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 500px;
    border: 2px solid;
}

.tip {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(136, 113, 148);
    color: black;
    font-weight: bold;





}

.bill_amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 10px;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    border: 2px solid;
    width: 400px;
}

.com {
    height: 10vh;
    font-size: 1.7rem;
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(216, 10, 10);



}